<template lang="pug">
  .nav(v-if="window.width >= 1280")
    .nav-side Reales Rent
    .nav-main
      btn.mx-sm(v-for="(item, i) in mainMenu" :key="i" :label="item.label" flat exact :path="item.path")
    .nav-side(v-if="userName")
      btn(:label="userName" flat path="/perfil" color="#5264AE" text-color="#fff")
      btn(label="Sair" @click.native="logoutUser()" icon-right="exit_to_app" flat color="#5264AE")
    .nav-side(v-else)
      btn.mx-sm(v-for="(item, i) in sideMenu" :key="i"
        :label="item.label"
        :outline="item.featured"
        :flat="!item.featured"
        :color="item.color"
        :icon-right="item.iconRight"
        :path="item.path")
  .nav.drawer(v-else)
    .nav-side
      btn(icon="menu" flat round color="#333" @click="drawerMenu = !drawerMenu")
    .nav-main(style="margin-left: -42px") Reales Rent
    .nav-drawer
      .nav-drawer-back(:class="drawerMenu ? 'nav-drawer-opened' : ''" @click="drawerMenu = false")
      .nav-drawer-content(:class="drawerMenu ? 'nav-drawer-content-opened' : ''")
        .nav-drawer-header
          .nav-main.text-white Reales Rent
          .nav-side
            btn(icon="close" flat round color="#fff" @click="drawerMenu = !drawerMenu")
        .nav-drawer-header
          .nav-main.px-md(v-for="(item, i) in sideMenu" :key="i")
            btn.full-width(
              color="white"
              :label="item.label"
              exact
              :path="item.path")
        .nav-main-drawer
          btn.full-width(v-for="(item, i) in mainMenu" :key="i"
            color="white"
            :label="item.label"
            flat exact
            :path="item.path")
</template>

<script>
import {mapActions} from 'vuex'
export default {
  name: 'NavBar',
  components: {
  },
  data () {
    return {
      drawerMenu: false,
      window: {
        width: 0,
        height: 0
      },
      userData: {},
      mainMenu: [
        {
          label: 'Início',
          path: '/'
        },
        {
          label: 'Sobre',
          path: '/sobre'
        },
        {
          label: 'Imóveis',
          path: '/imoveis'
        }
      ],
      sideMenu: [
        {
          label: 'Entrar',
          path: '/entrar',
          color: '#5264AE',
        },
        {
          label: 'Cadastrar',
          path: '/cadastrar',
          color: '#5264AE',
          iconRight: 'arrow_forward',
          featured: true
        }
      ]
    }
  },
  props: {
    msg: String
  },
  created () {
    // Call method to get window sizes
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },
  computed: {
    // Comp userName to show in navbar
    userName () {
      let name = null
      if (this.$store.getters['getUser'] && 'name' in this.$store.getters['getUser']) {
        name = this.$store.getters['getUser'].name
      }
      return name
    }
  },
  destroyed() {
    // Clear window sizes
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    ...mapActions([
      'logout'
    ]),
    logoutUser () {
      this.logout() // Call logout action
      this.$router.push('/entrar') // Redirect if logout
    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    }
  }
}
</script>

<style scoped lang="scss">
.text-white{
  color: white;
}
.nav-drawer-back{
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -101vw;
  top: 0;
  background: rgba(0,0,0,0);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.nav-drawer-content{
  position: absolute;
  z-index: 999;
  width: 300px;
  max-width: 80vw;
  top: 0;
  left: -301px;
  height: 100vh;
  background: #5264AE;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.nav-drawer-content-opened, .nav-drawer-opened{
  left: 0;
}
.nav{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  padding: 16px;
  text-align: left;
  padding: 8px 16px;
  min-height: 40px;
  z-index: 9999;
}
.nav, .nav-drawer-header{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-drawer-header{
  padding: 16px;
  background-color: rgba(0,0,0,0.1)
}
.nav-drawer-header .nav-main{
  text-align: left;
}
.nav-side{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 38px;
}
.nav-main{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  text-align: center;
}
.nav-main-drawer{
  display: block;
  padding: 16px;
}
.nav-main-drawer .btn{
  margin: 6px 0;
}
.nav-drawer-close{
  text-align: right;
  padding: 16px;
}
.router-link{
  padding: 16px;
}
.full-width{
  width: 100%;
}
</style>
