<template lang="pug">
v-transition(name="slide-fade-left")  
  .notif.pa-sm(v-if="showing" :class="notifyColor")
    item
      item-main.content {{notifylabel}}
        slot
      item-side
        btn(flat round icon="close" color="white" @click.native="close()")
</template>

<script>
export default {
  name: 'Notify',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: 'default'
    },
    label: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      showing: false,
      notifyColor: 'default'
    }
  },
  created () {
    this.showing = this.value
    this.notifyColor = this.color
    this.notifylabel = this.label
  },
  watch: {
    value () {
      this.showing = this.value
    },
    color () {
      this.notifyColor = this.color
    },
    label () {
      this.notifylabel = this.label
    }
  },
  methods: {
    close () {
      this.$emit('input', false)
    }
  },
}
</script>

<style scoped lang="scss">
.notif {
  position: fixed;
  max-width: 100%;
  left: 20px;
  bottom: 20px;
  vertical-align: middle;
  color: #fff;
  box-shadow: 0 7px 18px rgba(0,0,0,0.2);
  border-radius: 3px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: .9em;
  letter-spacing: .02em;
}
.content{
  line-height: 36px;
}
.default{
  background-color: #323232;
}
.success{
  background-color: #22a922;
}
.error{
  background-color: #b11212;
}
</style>
