<template lang="pug">
  .item-main
    slot
</template>

<script>
export default {
  name: 'ItemMain',
  props: {
  },
  methods: {
  },
  created () {
  }
}
</script>

<style scoped lang="scss">
.item-main{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  text-align: center;
  padding: 0 8px;
}
</style>
