<template lang="pug">
  .item-side
    slot
</template>

<script>
export default {
  name: 'ItemSide',
  props: {
  },
  methods: {
  },
  created () {
  }
}
</script>

<style scoped lang="scss">
.item-side{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 38px;
}
</style>
