<template lang="pug">
  .item
    slot
</template>

<script>
export default {
  name: 'Item',
  props: {
  },
  methods: {
  },
  created () {
  }
}
</script>

<style scoped lang="scss">
.item{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
</style>
