<template lang="pug">
  .home
    vue-headful(title="Imóveis | Reales Rent")
    h1.text-white Aqui serão listados os imóveis
</template>

<script>
export default {
  name: 'home',
  components: {
  }
}
</script>
