<template lang="pug">
  .signin.row.pa-md
    vue-headful(title="Entrar | Reales Rent")
    card.col-4.offset-4.col-xs-12
      card-main Entrar
      card-main
        item
          item-main
            v-input(
              label="Usuário"
              v-model="userNickname"
              clearable)
        item  
          item-main
            v-input(
              label="Senha"
              type="password"
              v-model="userPassword"
              password)
        v-transition(name="fade")
          btn.full-width.no-shadow(
            label="Entrar"
            color="#22a922"
            text-color="white"
            v-if="userNickname !== '' && userPassword !== ''"
            @click="login()")
    .row.pa-md
      .col-4.offset-4.col-xs-12
        btn(color="white"
          label="Não tenho cadastro"
          flat
          path="/cadastrar")
    notify(v-model="notify.activated" persist :color="notify.color" :label="notify.label")
</template>

<script>
import notifyMixin from '../components/mixins/notify.mixin'
export default {
  name: 'SignIn',
  components: {
  },
  mixins: [notifyMixin],
  data () {
    return {
      userNickname: '',
      userPassword: '',
      nickNameError: false,
      notifySuccess: false,
      notifyError: false,
      notifyErrorMessage: ''
    }
  },
  watch: {
  },
  methods: {
    async login () {
      try {
        // Send user cretendials to api service
        let response = await this.$axios.post('/auth', {
          nickname: this.userNickname
        }, {headers: {
          pswdtk: this.userPassword
        }})
        if(response.data.token || response.data.user) {
          // Update user with logged user
          this.$store.commit('updateUser', response.data.user)
          this.$store.commit('updateToken', response.data.token)
          this.$router.push('/perfil')
        } else {
          this.setNegativeNotify('Seu usuário ou senha estão incorretos!')
        }
      } catch (e) {
        if (e.message === 'Request failed with status code 401') {
          this.setNegativeNotify('Seu usuário ou senha estão incorretos!')
        } else {
          this.setNegativeNotify('Ocorreu um erro ao tentar logar.')
        }
      }
    }
  }
}
</script>
