<template lang="pug">
  .group      
    input(:type="inputType" v-if="mask" v-mask="mask" required v-model="inputData")
    input(v-else :type="inputType" required v-model="inputData" :style="{padding: inputPadding}")
    span.bar(:class="error ? 'barError' : ''")
    label(:class="error ? 'labelError' : ''") {{label}}
    v-transition(name="slide-fade-right")
      .show-password(v-if="password && inputData")
        btn(flat round @click="showPassword()" color="#999")
          vue-material-icon(:name="showPass ? 'visibility' : 'visibility_off'" :size="18")
    v-transition(name="slide-fade-right")
      .clearable(v-if="isClearable && inputData !== ''")
        btn(flat round @click="inputData = ''" color="#999")
          vue-material-icon(name="backspace" :size="18")
    .helper
      v-transition(name="fade")
        span(v-if="helper && !error") {{helper}}
      v-transition(name="fade")
        span.helperError(v-if="error") {{errorLabel}}
  </div>
</template>

<script>
export default {
  name: 'vInput',
  props: {
    value: {
      type: String,
      default: '',
      required: true
    },
    password: {
      type: Boolean,
      default: false
    },
    clearable: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    helper: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    },
    validate: {
      type: String,
      default: ''
    },
    errorLabel: {
      type: String,
      default: ''
    },
    mask: {
      type: String,
      default: null
    },
    setError: {
      type: Boolean,
      default: false
    },
  },
  data () {
    return {
      inputData: '',
      showPass: false,
      inputType: '',
      reg: { // Regexp to fields validate
        // eslint-disable-next-line
        email: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
      },
      error: false
    }
  },
  created () {
    this.inputType = this.type
    this.isClearable = this.clearable
    this.inputData = this.value
  },
  computed: {
    // set padding if field has end btn
    inputPadding () {
      if (this.password || this.clearable) {
        return '10px 40px 10px 5px'
      } else {
        return '10px 10px 10px 5px'
      }
    }
  },
  watch: {
    value: {
      handler () {
        this.inputData = this.value
      },
      deep: true
    },
    type () {
      this.inputType = this.type
    },
    clearable () {
      this.isClearable = this.clearable
    },
    inputData () {
      this.error = !this.validator()
      this.$emit('input', this.inputData)
    },
    setError () {
      this.error = this.setError
    },
    validate () {
      if (this.validate) {
        this.error = true
        this.validator()
      }
    }
  },
  methods: {
    // If type === password, show btn to change input type for view content
    showPassword () {
      this.showPass = !this.showPass
      if (this.showPass) {
        this.inputType = 'text'
      } else {
        this.inputType = 'password'
      }
    },
    // Based on props, validate data
    validator () {
      let error = false
      if (this.validate === 'email') {
        if (this.inputData !== '') {
          error = this.reg.email.test(this.inputData)
        }
      } else if (this.validate === 'isEmpty') {
        error = this.inputData !== ''
      } else {
        error = true
      }
      this.$emit('hasError', error)
      return error
    }
  }
}
</script>

<style scoped lang="scss">
* { box-sizing:border-box; }
$inputColor: #5264AE;
$inputErrorColor: #F34E4E;
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.helper{
  height: 30px;
  font-size: 10px;
  line-height: 1.5;
  margin-top: 8px;
  letter-spacing: .08em;
  font-weight: 600;
  opacity: .6;
  color: #666;
  text-align: left;
  padding-left: 8px;
}
.helperError{
  color: $inputErrorColor;
}
.show-password, .clearable{
  position: absolute;
  top: 0px;
  right: 0;
}
.group 			  { 
  position:relative; 
  margin-bottom: 15px;
}
input {
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  background: none;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus {
  outline:none;
}
label 				 {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  opacity: .8;
}
input:focus ~ label, input:valid ~ label 		{
  top:-10px;
  font-size:12px;
  color: $inputColor;
}
.bar 	{
  position:relative;
  display:block;
  width:100%;
}
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:$inputColor;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar.barError:before, .bar.barError:after{
  background: #f34e4e;
}
label.labelError{
  color: $inputErrorColor !important;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
</style>
