<template lang="pug">
  .card-main.pa-md
    slot
</template>

<script>
export default {
  name: 'CardMain',
  props: {
  },
  methods: {
  },
  created () {
  }
}
</script>

<style scoped lang="scss">
</style>
